body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 8px;
    width: 300px;
    height: 400px; /* Фиксированная высота карточки */
    margin: 20px;
    padding: 20px;
    text-align: center;
    overflow: hidden; /* Скрываем все, что выходит за пределы карточки */
    display: flex;
    flex-direction: column; /* Расположим элементы внутри карточки по вертикали */
}

.card h2 {
    margin: 20px 0 10px;
    font-size: 18px;
}

.card p {
    margin: 0 0 20px;
    font-size: 14px;
    text-overflow: ellipsis; /* Добавляет многоточие, если текст не помещается */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Ограничивает количество строк */
    -webkit-box-orient: vertical;
}

.card-button {
    display: inline-block;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: auto; /* Блокирует кнопку внизу карточки */
    width: auto; /* Убираем фиксированную ширину */
    max-width: 200px; /* Максимальная ширина кнопки */
    align-self: center; /* Центрируем кнопку по горизонтали */
}

.card img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.card img:hover {
    transform: scale(1.05);
}

.phone-icon img {
    width: 120px; /* Устанавливаем фиксированную ширину для иконки */
    height: 100px; /* Устанавливаем фиксированную высоту для иконки */
    object-fit: contain; /* Убедимся, что иконка будет полностью видна */
    background-color: #666; /* Серый фон */
    border-radius: 20%; /* Закругляем углы, чтобы получился круг */
    margin: 0 auto 20px; /* Центрируем иконку и добавляем отступ снизу */
    padding: 10px; /* Отступ внутри фона */
    display: block; /* Чтобы иконка была блочным элементом */
    transition: transform 0.3s ease;
}

.phone-icon img:hover {
    transform: scale(1.1); /* Увеличиваем иконку при наведении */
}






/* Стили для ссылки, заменяющей кнопку */
.card a {
    text-decoration: none; /* Убираем подчеркивание */
}

.card-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.extra-content {
    margin: 40px 0;
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
}



footer {
    text-align: center;
    background-color: #1e1e1e;
    padding: 10px 0;
    border-top: 1px solid #333;
    margin-top: 20px;
}

footer p {
    margin: 0;
    color: #aaa;
    font-size: 14px;
}







/* Стили для меню */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 8px;
}

.navbar-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-list li {
    margin: 0 15px;
}

.navbar-list a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar-list a:hover {
    color: #007bff;
}





/* Стили для кнопок справа в меню */
.navbar-right {
    display: flex;
    list-style: none;
    margin: 0;
}

.navbar-right li {
    margin: 0 15px;
}

.navbar-button {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Адаптивность для мобильных устройств - кнопки справа */
@media (max-width: 768px) {
    .navbar-right {
        display: none;
    }
}








/* Стили для меню-бутерброда */
.menu-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    width: 30px;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .navbar-list {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #1e1e1e;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        border-radius: 8px;
    }

    .navbar-list.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}







/* Стили для формы поиска */
.search-form {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 8px;
}

.search-input {
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
    padding: 5px;
    margin-right: 5px;
    font-size: 16px;
}

.search-input::placeholder {
    color: #ccc;
}

.search-button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background-color: #0056b3;
}

/* Для адаптивности */
@media (max-width: 768px) {
    .search-form {
        margin-top: 10px;
        width: 100%;
    }
}









/* Стили для постов и галереи  single.php*/
.post {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.main-image-wrapper {
    text-align: center;
}

/*.post-image {
    width: 65%; 
    height: auto; 
    border-radius: 8px;
    margin: 20px 0;
    object-fit: contain; 
    transition: transform 0.3s ease;
}*/

.post-image {
    width: 65%; /* Сохраняем ширину */
    height: 502px; /* Фиксированная высота */
    border-radius: 8px;
    margin: 20px 0;
    object-fit: cover; /* Обрезаем изображение, чтобы заполнить область */
    transition: transform 0.3s ease;
}

.post-image:hover {
    transform: scale(1.02);
}

.post-description {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    justify-content: center; /* Центрируем галерею */
    gap: 10px;
    margin-bottom: 20px;
    width: 65%; /* Устанавливаем ширину галереи равной ширине основной картинки */
    margin-left: auto; /* Центрируем галерею по горизонтали */
    margin-right: auto;
}

.gallery-image {
    width: calc(33.33% - 6.66px); /* Каждое изображение будет занимать 1/3 ширины контейнера с учетом отступов */
    height: 163px; /* Фиксированная высота для всех изображений */
    border-radius: 8px;
    object-fit: cover; /* Чтобы изображения обрезались пропорционально */
    cursor: pointer;
    transition: transform 0.3s ease, border 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.05);
    border: 2px solid #007bff;
}


.buy-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buy-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Медиазапрос для уменьшения картинки на мобильных устройствах */
/* Медиазапрос для мобильных устройств */
@media (max-width: 768px) {
    .post-image {
        width: 100%; /* Ширина картинки на мобильных устройствах будет 100% */
        height: auto; /* Высота картинки будет адаптироваться пропорционально */
        object-fit: contain; /* Сохраняем пропорции, но не обрезаем */
    }

    .gallery {
        width: 100%; /* Уменьшаем ширину галереи */
        display: block; /* Обеспечиваем правильное выравнивание */
    }

    .gallery-image {
        width: 100%; /* Каждое изображение в галерее будет на всю ширину контейнера */
        height: 163px; /* Высота фиксированная для всех изображений */
        object-fit: contain; /* Сохраняем пропорции изображений */
        margin-bottom: 10px; /* Добавляем отступ снизу */
    }
}









/*Регистрация*/
.registration-section {
    background-color: #1e1e1e;
    padding: 40px;
    border-radius: 8px;
    margin-top: 40px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.registration-form label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #ffffff;
}

.registration-form input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #121212;
    color: #ffffff;
}

.registration-form input:focus {
    border-color: #007bff;
    outline: none;
}

.register-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.register-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}








/*О нас*/
/* Параллакс */
.parallax {
    background-image: url('img/about/3.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 100px 20px;
}

.parallax h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.parallax p {
    font-size: 20px;
}

/* Аккордион */
.accordion-section {
    margin: 40px 0;
}

.accordion {
    background-color: #1e1e1e;
    border-radius: 8px;
    overflow: hidden;
}

.accordion-item {
    border-bottom: 1px solid #333;
}

.accordion-button {
    width: 100%;
    text-align: left;
    padding: 15px;
    background: #121212;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.accordion-button:hover {
    background-color: #333;
}

.accordion-button.active {
    background-color: #333;
    color: #f1c40f; /* Цвет текста для активной кнопки */
}

.accordion-content {
    display: none;
    padding: 15px;
    background: #1e1e1e;
    border-top: 1px solid #333;
    overflow: hidden; /* Скрывает контент за пределами блока */
    transition: height 0.3s ease; /* Анимация высоты */
}

.accordion-content.show {
    display: block;
    height: auto; /* Убираем фиксированную высоту */
    overflow: visible; /* Позволяем видеть весь контент */
}

.accordion-content p {
    margin: 0;
}
/* Аккордион END */


/* Инфоблоки */
.info-blocks {
    margin: 40px 0;
}

.info-block {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.info-block img {
    width: 50%;
    border-radius: 8px;
}

.info-text {
    padding: 20px;
    color: #ffffff;
    background-color: #1e1e1e;
    border-radius: 8px;
    width: 50%;
}

.info-block.reverse {
    flex-direction: row-reverse;
}






.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
}

.pagination a, 
.pagination span {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #0056b3;
}

.pagination .current {
    background-color: #0056b3;
    font-weight: bold;
    pointer-events: none;
}






.pagination {
    text-align: center;
    margin-top: 40px;
}

.pagination a,
.pagination span {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination a:hover,
.pagination .current {
    background-color: #0056b3;
}

.pagination .current {
    font-weight: bold;
    pointer-events: none; /* Отключаем возможность клика по текущей странице */
}
