@media (max-width: 768px) {
    /* Кнопка "Додати" - 100% ширина */
    .btn-primary {
        width: 50%;
        text-align: center;
        font-size: 16px;
        padding: 10px;
    }

    /* Авто-высота строк (если много текста – строка увеличивается) */
    .table td, .table th {
        white-space: normal;
        word-wrap: break-word;
        vertical-align: middle;
    }

    @media (max-width: 768px) {
    /* Кнопки в один ряд */
    .table td .d-flex {
        flex-wrap: nowrap; /* Запрещаем перенос кнопок на новую строку */
        justify-content: center;
        gap: 1px; /* Минимальный отступ между кнопками */
    }

    /* Уменьшаем кнопки для мобильных */
    .table td a.btn {
        font-size: 12px;
        padding: 6px 8px;
        white-space: nowrap; /* Запрещаем перенос текста в кнопках */
    }


}

}



